<div class="row">
    <div class="col-sm-1 col-md-3"></div>
    <div class="col-sm-10 col-md-6">
        <form method="post" action="/Identity/Account/Register">
            <h4>Create a new account.</h4>
            <hr />
            <div class="form-group">
                <label for="Input_Email">Email</label>
                <input class="form-control" type="email" id="Input_Email" value.bind="email" />
            </div>
            <div class="form-group">
                <label for="Input_Password">Password</label>
                <input class="form-control" type="password" id="Input_Password" value.bind="password" />
            </div>
            <div class="form-group">
                <label for="Input_Firstname">First name</label>
                <input class="form-control" type="text" data-val="true" name="Input.Firstname" value.bind="firstname" />
            </div>
            <div class="form-group">
                <label for="Input_Lastname">Last name</label>
                <input class="form-control" type="text" data-val="true" name="Input.Lastname" value.bind="lastname" />
            </div>

            <div class="form-group">
                <button click.delegate="registerClicked($event)" type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
    <div class="col-sm-1 col-md-3"></div>
</div>