<h1>Details</h1>

<div>
    <h4>House Type</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-4">
            Id
        </dt>
        <dd class="col-sm-8">
            ${data.id}
        </dd>
        <dt class="col-sm-4">
            House Type
        </dt>
        <dd class="col-sm-8">
            ${data.propertyTypeValue}
        </dd>
        <dt class="col-sm-4">
            House Type Count
        </dt>
        <dd class="col-sm-8">
            ${data.propertiesCount}
        </dd>
    </dl>
</div>
<div>

    <a load="/property-types-index">Back to List</a>
</div>
