
<p>
    <a load="/property-types-create">Create new</a>
</p>
<table class="table">
    <thead>
        
        <tr>
            <th>
                Type of House 
            </th>
            <th>
                Number of available houses
            </th>
        </tr>
    </thead>
    <tbody>
        <tr repeat.for="item of data">
            <td>
                ${item.propertyTypeValue}
            </td>
            <td>
                ${item.propertyCount}
            </td>
            <td>
                <a load="/property-types-details(${item.id})">Details | </a>
                <a load="/property-types-edit(${item.id})">Edit | </a>
                <a load="/property-types-delete(${item.id})">Delete</a>
            </td>
        </tr>
  
    </tbody>
</table>