<h1>Details</h1>

<div>
    <h4>House Type</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-4">
            House Type
        </dt>
        <dd class="col-sm-8">
            ${data.propertyTypeValue}
        </dd>
        <dt class="col-sm-4">
            House Type Count
        </dt>
        <dd class="col-sm-8">
            ${data.propertiesCount}
        </dd>
    </dl>
</div>
<div>
    <form action="/PropertyTypes/Delete/7a8508f1-acbe-4d74-cf35-08d8fa783f6d" method="post">
        <input type="hidden" value.bind="data.id" id="Id" name="Id" value="7a8508f1-acbe-4d74-cf35-08d8fa783f6d" />
        <input click.delegate="deleteClicked($event)" class="btn btn-danger" value="Delete"/> |
    <a load="/property-types-index">Back to List</a>
</div>
